* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    display: flex;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    background-color: teal;
    color: white;
}
.time-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.time-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 7rem;
    font-size: 5rem;
    margin-bottom: 2rem;
}
.time-box2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 7rem;
    font-size: 5rem;
}
.time-box p {
    background-color: #00c0c0;
    margin-right: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 25px;
    cursor: not-allowed;
}
input {
    width: 50%;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 15px;
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
h2 {
    text-align: center;
    font-size: 10rem;
    margin-bottom: 1.5rem;
}
